<h3>Dashboard</h3>

<ul>
  <li><%= link_to "Newest", dashboard_path(state: "template") %> <%= adverts_count("template") %></li>
  <li><%= link_to "Published", dashboard_path(state: "published") %> <%= adverts_count("published") %></li>
  <li><%= link_to "Moderated", dashboard_path(state: "moderated") %> <%= adverts_count("moderated") %></li>
  <li><%= link_to "Rejected", dashboard_path(state: "rejected") %> <%= adverts_count("rejected") %></li>
  <li><%= link_to "Archive", dashboard_path(state: "archived") %> <%= adverts_count("archived") %></li>
</ul>

<% if @adverts.present? %>
  <% @adverts.each do |advert| %>
    <%= render 'adverts/advert', advert: advert %>
  <% end %>
<% else %>
  <p>empty</p>
<% end %>
