<div class="category_wrapper">
  <%= advert.title %>
  <%= advert.description %>
  <%= advert.price %>
  <%= advert.category.name if advert.category %>
  <%= advert.type.name %>
  <%= render 'adverts/shared/events', advert: advert %>
</div>
